
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Style the header */
header {
  background: #0d0d0d;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  color: white;
}

article img{
  max-width:400px;
  max-heigth:400px;
  border-radius:50%;
  padding: 10px;
  display:inline-block;
}

/* Create two columns/boxes that floats next to each other */
aside {
  float: left;
  max-width: 200px;
  background: #191a1c;
  padding: 20px;
  height:100%;
}

/* Style the list inside the menu */
aside ul {
  list-style-type: none;
  padding: 0;
}

aside ul li{
  padding-top:20px;
  
}


article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: white;
}



article p{
  width: 100%;
}

section{
  height:100%;
}
/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #0d0d0d;
  position: fixed;
  padding: 10px;
  text-align: center;
  color: white;
  bottom: 0;
  width: 100%;
}

footer p{
  display: inline-block;
  text-align: centered;
  padding-left: 5%;
  text-decoration: none;
  color: white; 
  text-decoration:none; 
  cursor:pointer;  
}

article img{
  max-width:400px;
  max-heigth:400px;
}

.center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }


/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  aside {
    visibility: hidden;
	  display: none;
  }
  
  .article-content p{
    padding-left: 20%;
  }
  
  .article-content h1{
    text-align: center;
  }
}

section aside a{
    margin-top: 10%;
    margin-left: 10%;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #818181;
    display: block;
}
section aside a:hover {
    color: #f1f1f1;
}

@media(max-width:1920px){
  article img{
    width: 30%;
    heigth: 30%;
  }
  
}

@media ( max-width: 1280px ){
  .image-box{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
  }
  article img{
    width: 80%;
  }
}

@media ( max-width: 800px ){
  .image-box{
    display:block;
  }
  article img{
    width: 60%;
  }
}


@media (max-width: 600px) {
  aside {
    visibility: hidden;
	  display: none;
  }
  
  .image-box{
    margin-left:0%;
    margin-right:-100%;
  }
  
  
  
}




